body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

pre {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}
